
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Basic styling*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif !important;
}
.head{
    background-color:red;
}

body{
    background-color:#153448 !important;
    color: #ededed !important;
}

ul{
   
    width: 90%;
    justify-content: end;
}
li{
    margin-left: 20px;
}
.navbar{
   width: 100vw;
   position: fixed !important;
}
.navbar-brand{
    margin-left:25px;
    
}

.nav-custom{
   
    background-color: rgba(6, 146, 222, 0.341);
   -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    
   
}

.nav-link:hover{
    color: rgb(0, 145, 255) !important;
    transition: 25ms;
}
.nav-link{
   color: #6fadf3 !important;
}

.brand-img{

    width: 40px;
    /* box-shadow: -5px 5px 10px rgb(17, 58, 88); */

}

/*--------------HOME PAGE STYLES-------------*/
.landing{
    height: 100vh;
    z-index: -100;
    
   
}

.left-section{
    height: 95%;
    width: 50vw;
    background-color: rgb(2, 151, 251);
    border-bottom-right-radius: 75px;
    
    
}

.left-section-content{
    margin-left: 25%;
    margin-top: 20%;
    margin-right: 10%;
    color: white;
   
}

.heading-1{
    font-size: 13px;
    
}

.heading-2{
    color: white;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 5%;
    

}

.left-section-para{
    margin-top: 5%;
    font-size: 13px;
}

.button{
    margin-top: 5%;
    padding: 2%;
    width:35%;
    border-radius: 25px;
    border: 1px solid white;
}

.button:hover{
    background-color:  rgb(249, 249, 249);
    cursor: pointer;
    color:  rgb(0, 145, 255);
    transition: 0.5s;
}

.scroll-icon{
    display: flex;
    width: 100%;
    justify-content: end;
   

}



.right-section{
   
    width: 50%;
    height: 95%;

}

.profile{
    width: 50%;
    overflow: auto;
    border-bottom-right-radius: 75px;
}
.profile>img{
    width: 100%;
}


.right-section-icons{
   
    margin-top: 2%;
    width: 50%; 
    height: 5%;
    display: flex;
    justify-content: space-around;
    
}

.page{
    height: 100vh;
    margin-top: 5%;
    
}


line{
    text-decoration:line-through;
    text-decoration-color: #ededed;
    color: #153448;
}
pageno{
    color:  rgb(246, 7, 62);
}


/*--------------ABOUT PAGE STYLES-------------*/

.tech-container{
    display: flex;
    justify-content: center;
    
} 

.tech-logos{
    
    
    margin-top: 3%;
    margin-left: 5%;
    
    
  }  


.page-heading{
    color: #ededed;
    display: flex;
    justify-content: center;
   
}

.content-1{
  
    display: flex;
    justify-content: center;
    
    
}


/*--------------CONTACT PAGE STYLES-------------*/

.contact-outer-box{
  
    width:100%;
    margin-top: 5%;
    display: flex;
    justify-content: end;
}

.contact-left-section{
   width:30%;
   background-color: aqua;
   margin-right: 20%;
   margin-bottom: 5%;

}


.contact-box{
    background-color:#253d4e;
    width: 30%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 2%;
    box-shadow: -5px 5px 25px #080549e4;
    border-radius: 20px;
  
}

.control-bg{
    background: #1c344f !important;
    border-color: #153448 !important;
    color: rgb(226, 228, 230) !important;
}

.submit-button{
    
    display: flex;
    justify-content: center;
    
}
.btn{
    width: 30%;
    background-color: #254467 !important;
    
}

